[Pp]roblems
[Oo]utput
debug
logs
*_ordered.ans
__pycache__
.vscode
*.prof
*.json
*.csv
*.out
src/go.sum
tests/TPTP-v8.1.2
coqproofs

*.v
!goeland.v

*.lp
!CCC.lp
!FOL.lp
!GS3.lp
!ICC.lp
!LL_ND.lp
!LL.lp
!ND_eps_aux.lp
!ND_eps_full.lp
!ND_eps.lp
!ND.lp